.eyefind__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #4e93c9;
    border-top: 6px solid #f6c851;
    padding-top: 1rem;
    padding-bottom: 1rem;

    min-height: 15vh;
}

.eyefind__footer p {
    font-size: 0.8em;
    color: #fff;

    margin-bottom: 0.5rem;
}

.eyefind__footer-icon {
    display: flex;
    flex-direction: row;
}

.eyefind__footer-icon svg {
    font-size: 2rem;
    color: #fff;

    margin: 0 0.5rem;
}

.dev-by span {
    font-weight: 700;
    color: #F8BE00;
}