a {
    color: unset;
    text-decoration: none;
}

.App {
    display: flex;
    flex-direction: column;
}

.containers {
    background-color: #f3f3f3;
    padding: 15px;
    margin-bottom: 15px;
}

.eyefind__main {
    min-height: 80vh;
}

